.container{
    padding: 10rem;
    display: flex;
    gap: 5rem;
    .main{
        width: 72%;
        
        .content{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            color: var(--text);
            h1,h2,h3,h4,h5,h6{
                font-weight: 700;
            }
            font-weight: 500;
            ol{
                margin-top: 1rem;
                margin-left: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li{
                    line-height: 2.4rem;
                }
            }
            a{
                color: var(--primary);
            }
        }
    }
    .side-bar{
        width: 28%;
    }
}
@media (width < 992px){
    @media (width < 768px){
        @media (width < 576px){
            .container{
                padding: 10rem 1rem !important;
            }
        }
        .container{
            padding: 10rem 5rem;
        }
    }
    .container{
        flex-direction: column;
        .main{
            width: 100%;
        }
        .side-bar{
            width: 100%;
        }
    }
}