.image-container {
  position: relative;
  overflow: hidden;
  width: 200px; /* Điều chỉnh kích thước container theo ý muốn */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.hover-effect {
  transform: scale(0);
}

.image-container:hover .hover-effect {
  transform: scale(1);
}
