.nav{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
        border-bottom: 0.2rem solid #ececec;
        position: relative;
        .modal{
            position: absolute;
            transition: 0.5s;
            top: 100%;
            left: 1rem;
            box-shadow: 5px 5px 15px rgba(0,0,0,.05);
            background-color: #fff;
            border-radius: 2rem;
            border: 0.1rem solid #bce3c9;
            .main{
                min-width: 4.2rem;
                ul{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 2rem;
                    padding: 3rem;
                    li{
                        list-style: none;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        padding: 0.9rem 1.8rem;
                        border: 0.1rem solid #f2f3f4;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        height: 5rem;
                        &:hover{
                            border: 0.1rem solid #bce3c9;
                            .content{
                                color: var(--primary);
                            }
                        }
                        .image{
                            max-width: 3rem;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .content{
                            font-size: 1.4rem;
                            line-height: 1.5;
                            font-weight: 700;
                            color: var(--text);
                            &:hover{
                                color: var(--text);

                            }
                        }
                    }
                }
            }
        }
        .left{
            display: flex;
            gap: 1rem;
            padding: 1rem 0.5rem;
            background-color: var(--primary);
            border-radius: 0.5rem;
            align-items: center;
            text-align: center;
            cursor: pointer;
            color: #fff;
            &:hover{
                background-color: #29a56c;
            }
            .icon{
                font-size: 2rem;
                margin-top: 0.3rem;
            }
            .text{
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
        .mid{
            margin-right: 5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            .btnDeal{
                padding: 1rem 2rem;
                display: flex;
                gap: 0.5rem;
                align-items: center;
                &:hover{
                    .text{
                        a{
                            color: var(--primary);
                        }
                    }
                }
                .image{
                    flex: 1;
                }
                a.hot-deal{
                    font-size: 1.6rem;
                    color: var(--text);
                    font-weight: 700;
                }
                
            }
            .navbar{
              
            }
        }
        .right{
            display: flex;
            margin-left: 5rem;
            gap: 1rem;
            .icon{
    
            }
            .info{
                .main{
                    font-size: 2.3rem;
                    color: var(--primary);
                    font-weight: 700;
                }
                .sub{
                    font-size: 1.2rem;
                    color: #7e7e7e;
                    font-weight: 500;
                    margin-top: 0.3rem;
                }
            }
        }
    }
}

@media (width <= 1200px){
    .nav{
        .container{
            .left{
                font-size: 1.5rem;
            }
            .mid{
                margin-right: -5rem;
            }
            .right{
                display: none;
            }
        }
    }
}
@media (width <= 992px) {
   .nav{
        .container{
            display: none;
        }
   }
}