.container{
    padding:5rem 10rem;
    .header{
        
        .title{
            margin-bottom: 2rem;
            font-size: 4rem;
            font-weight: 700;
            color: var(--text);

        }
        .sub-title{
            display: flex;
            margin-bottom: 3rem;
            justify-content: space-between;
            .left{
                font-size: 1.6rem;
                color: #7e7e7e;
                font-weight: 600;
            }
            .right{
                display: flex;
                gap: 1rem;
                color: #7e7e7e;
                font-weight: 600;
                cursor: pointer;
                .icon{
                    font-size: 2rem;
                }
                .text{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .main{
        width: 100%;
        overflow-x: auto;
        table{
            width: 100%;
            thead{
                tr{
                    td{
                        text-align: center;
                        font-size: 1.8rem;
                        color: var(--text);
                        background-color: #ececec;
                        padding: 2rem;
                        font-weight: 700;
                        &:nth-child(1){
                            text-align: left;
                            border-top-left-radius: 2rem;
                            border-bottom-left-radius: 2rem;
                        }
                        &:nth-child(5){
                            border-top-right-radius: 2rem;
                            border-bottom-right-radius: 2rem;
                        }
                    }
                }
            }
            tbody{
                text-align: center;
                tr{
                    margin-top: 10rem;
                    .product{
                        padding: 4rem 0;
                        .detail{
                            display: flex;
                            gap: 4rem;
                            align-items: center;
                            text-align: left;
                            .left{
                                padding: 0rem;
                                border:0.1rem solid  #ececec;
                                border-radius: 1rem;
                                img{
                                    max-width: 13rem;
                                    cursor: pointer;
                                }
                            }
                            .right{
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                                cursor: pointer;
                                .name{
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                    color: var(--text);
                                }
                                .rating{
                                    width: 6rem;
                                    background: url('~/public/images/other/rating-star.png');
                                    height: 1.2rem;
                                    background-position: 0 -1.2rem;
                                    .star{
                                        height: 1.2rem;
                                        background: url('~/public/images/other/rating-star.png');
                                    }
                                }
                            }
                        }
                    }
                    .price{
                        font-size: 3rem;
                        color: var(--primary);
                        font-weight: 700;
                    }
                    .quantity{
                        input{
                            text-align: center;
                            width: 30%;
                            padding: 1rem;  
                            border-radius: 0.5rem;
                            border: 0.2rem  solid var(--primary);
                            color: var(--primary);
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                    }
                    .sub-total{
                        font-size: 3rem;
                        color: #7e7e7e;
                        font-weight: 600;
                    }
                    .trash{
                        font-size: 2rem;
                        cursor: pointer;
                    }

                }
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        width: 100%;
        .clear{
            display: flex;
            gap: 1rem;
            color: #7e7e7e;
            cursor: pointer;
            .icon{
                font-size: 1.5rem;
                
            }
            .text{
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
        .shopping{
            width: 20%;
        }
        .line{
            position: relative;
            padding: 2rem 0;
            width: 100%;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 48%;
                height: 0.3rem;
                background-color: #ececec;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 48%;
                height: 0.3rem;
                background-color: #ececec;
            }
            .icon{
                width: 4%;
                font-size: 2.5rem;
                color: #7e7e7e;
                position: absolute;
                bottom: -0.5rem;
                left: 48%;
            }
        }
    }
    .check-out{
        margin-top: 5rem;
        display: flex;
        gap: 10rem;
        .left{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            .shipping{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h2{
                    font-size: 2.2rem;
                    color: var(--text);
                    font-weight: 700;
                }
                .rate{
                    color: #7e7e7e;
                    font-size: 1.7rem;
                    strong{
                        color: var(--primary);
                        font-weight: 700;
                    }
                }
                select{
                    padding: 1.5rem 2rem;
                    border: 0.1rem solid #ececec;
                    border-radius: 0.6rem;
                    font-size: 1.5rem;
                    option{

                    }
                }
            }
            .voucher{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h2{
                    font-size: 2.2rem;
                    color: var(--text);
                    font-weight: 700;
                }
                label{

                }
                select{
                    padding: 1.5rem 2rem;
                    border: 0.1rem solid #ececec;
                    border-radius: 0.6rem;
                    font-size: 1.5rem;
                    option{

                    }
                }
                select.disabled{
                    pointer-events: none;
                        opacity: 0.7;
                }
                .code{
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    input{
                        font-size: 1.5rem;
                        padding: 1.5rem 2rem;
                        border: 0.1rem solid #ececec;
                        border-radius: 0.6rem;
                    }
                    
                    .input.disabled{
                        pointer-events: none;
                        opacity: 0.7;
                    }
                    .btn{
                        margin-left: 3rem;
                    }
                }
            }
        }
        .right{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            box-shadow: 5px 5px 15px rgba(0,0,0,.05);
            padding: 5rem;
            height: fit-content;
            border: 0.1rem solid #ececec;
            border-radius: 1rem;
            h2{
                font-size: 2.2rem;
                color: var(--text);
                font-weight: 700;
            }
            table{
                width: 100%;
                border: 0.1rem solid #ececec;
                tr{
                    td{
                        padding: 1rem;
                        border: 0.1rem solid #ececec;
                        color: #7e7e7e;
                        font-size: 1.5rem;
                    }
                    td.price{
                        font-weight: 700;
                        color: var(--primary);
                    }
                }

            }
            .btn{
                width: 60%;
            }
        }
    }
}
@media (width < 992px) and (width > 768px){
    .container{
        padding: 5rem 3rem;
        @media (width <= 576px){
            .container{
                padding: 5rem 1rem;
            }
        }
        .header{
        
            .title{
                font-size: 3.5rem;
    
            }
            .sub-title{
                .left{
                    font-size: 1.6rem;
                    width: 70%;
                }
                .right{
                    gap: 0.8rem;
                    .icon{
                        font-size: 1.7rem;
                    }
                    .text{
                        font-size: 1.7rem;
                    }
                }
            }
        }
        .main{
            table{
                thead{

                    tr{
                        td{
                            font-size: 1.7rem;
                            padding: 1.3rem;
                            &:nth-child(1){
                                border-top-left-radius: 1.3rem;
                                border-bottom-left-radius: 1.3rem;
                            }
                            &:nth-child(5){
                                border-top-right-radius: 1.3rem;
                                border-bottom-right-radius: 1.3rem;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        .product{
                            padding: 3rem 0;
                            .detail{
                                gap: 3rem;
                                .left{
                                    img{
                                        max-width: 11rem;
                                    }
                                }
                                .right{
                                    .name{
                                        font-size: 1.7rem;
                                    }
                                }
                            }
                        }
                        .price{
                            font-size: 2.5rem;
                        }
                        .quantity{
                            input{
                                width: 40%;
                            }
                        }
                        .sub-total{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media (width <= 768px){
    .container{
        padding: 5rem 3rem;
        @media (width <= 576px){
            .container{
                padding: 5rem 1rem;
            }
        }
        .header{
        
            .title{
                font-size: 3.5rem;
    
            }
            .sub-title{
                .left{
                    font-size: 1.45rem;
                    width: 70%;
                }
                .right{
                    gap: 0.5rem;
                    .icon{
                        font-size: 1.5rem;
                    }
                    .text{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .main{
            table{
                thead{

                    tr{
                        td{
                            font-size: 1.5rem;
                            padding: 1.3rem;
                            &:nth-child(1){
                                border-top-left-radius: 1.3rem;
                                border-bottom-left-radius: 1.3rem;
                            }
                            &:nth-child(5){
                                border-top-right-radius: 1.3rem;
                                border-bottom-right-radius: 1.3rem;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        .product{
                            padding: 2rem 0;
                            .detail{
                                gap: 2rem;
                                .left{
                                    img{
                                        max-width: 10rem;
                                    }
                                }
                                .right{
                                    .name{
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                        .price{
                            font-size: 2rem;
                        }
                        .quantity{
                            input{
                                width: 50%;
                            }
                        }
                        .sub-total{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .check-out{
            flex-direction: column;
            .right{
                width: 100%;
            }
        }
    }
}