.container{
    padding: 5rem 10rem;
    .main{
        width: 100%;
        overflow-x: auto;
        table{
            width: 100%;
            thead{

                tr{
                    td{
                        text-align: center;
                        font-size: 1.7rem;
                        color: var(--text);
                        background-color: #ececec;
                        padding: 2rem;
                        font-weight: 700;
                        &:nth-child(1){
                            text-align: left;
                            border-top-left-radius: 2rem;
                            border-bottom-left-radius: 2rem;
                        }
                        &:nth-child(5){
                            border-top-right-radius: 2rem;
                            border-bottom-right-radius: 2rem;
                        }
                    }
                }
            }
            tbody{
                text-align: center;
                tr{
                    margin-top: 10rem;
                    .product{
                        padding: 4rem 0;
                        .detail{
                            display: flex;
                            gap: 4rem;
                            align-items: center;
                            text-align: left;
                            .left{
                                padding: 0rem;
                                border:0.1rem solid  #ececec;
                                border-radius: 1rem;
                                img{
                                    max-width: 13rem;
                                    cursor: pointer;
                                }
                            }
                            .right{
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                                cursor: pointer;
                                .name{
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                    color: var(--text);
                                }
                                .rating{
                                    width: 6rem;
                                    background: url('~/public/images/other/rating-star.png');
                                    height: 1.2rem;
                                    background-position: 0 -1.2rem;
                                    .star{
                                        height: 1.2rem;
                                        background: url('~/public/images/other/rating-star.png');
                                    }
                                }
                            }
                        }
                    }
                    .price{
                        font-size: 3.2rem;
                        color: var(--primary);
                        font-weight: 700;
                    }
                    .status-stock{
                        font-size: 1.4rem;
                        .in-stock,
                        .out-stock{
                            margin: auto;
                            padding: 1rem;
                            border: 0.1rem solid #ececec;
                            width: fit-content;
                            border-radius: 0.5rem;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        .in-stock{
                            color: #3bb77e;
                            background-color: #def9ec;
                            &:hover{
                                background-color: #cef7e2;
                            }
                        }
                        .out-stock{
                            color: #f74b81;
                            background-color: #fde0e9;
                            &:hover{
                                background-color: #f7cedb;
                            }
                        }
                    }
                    .action{
                        font-size: 1.4rem;
                        .add,
                        .contact{
                            width: fit-content;
                            padding: 1rem;
                            border: 0.1rem solid #3bb77e;
                            border-radius: 0.5rem;
                            font-size: 1.3rem;
                            font-weight: 700;
                            color: #fff;
                            cursor: pointer;
                        }
                        .add{
                            background-color: var(--primary);
                            border-color: var(--primary);
                            &:hover{
                                background-color: #399c6e;
                            }
                        }

                        .contact{
                            background-color: #3e5379;
                            border-color: #3e5379;
                            &:hover{
                                background-color: #273b5f;
                            }
                        }
                    }
                    .trash{
                        cursor: pointer;
                       .icon{
                        font-size: 3rem;
                       } 
                    }
                }
            }
        }
        .clear{
            color: #7e7e7e;
            font-weight: 400;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
@media (width < 992px) and (width > 768px){
    .container{
        padding: 5rem;
        .main{
            table{
                thead{

                    tr{
                        td{
                            font-size: 1.6rem;
                            padding: 1.3rem;
                        }
                    }
                }
                tbody{
                    tr{
                        .product{
                            padding: 3rem 0;
                            .detail{
                                gap: 3rem;
                                .left{
                                    img{
                                        max-width: 11rem;
                                    }
                                }
                                .right{
                                    .name{
                                        font-size: 1.6rem;
                                    }
                                }
                            }
                        }
                        .price{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media (width <=768px ){
    .container{
        padding: 5rem 3rem;
        @media (width <= 576px){
            .container{
                padding:5rem 1rem !important;
            }
        }
        .main{
            table{
                thead{

                    tr{
                        td{
                            font-size: 1.5rem;
                            padding: 1.3rem;
                            &:nth-child(1){
                                border-top-left-radius: 1.3rem;
                                border-bottom-left-radius: 1.3rem;
                            }
                            &:nth-child(5){
                                border-top-right-radius: 1.3rem;
                                border-bottom-right-radius: 1.3rem;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        .product{
                            padding: 2rem 0;
                            .detail{
                                gap: 2rem;
                                .left{
                                    img{
                                        max-width: 10rem;
                                    }
                                }
                                .right{
                                    .name{
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                        .price{
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }
}