.container{
    max-height: 100vh;
    overflow-y: auto;
    .main{
        margin: auto;
        width: 80%;
        background-color: #fff;
        padding: 10rem 8rem;
        border: 0.1rem solid #ececec;
        border-radius: 2rem;
        position: relative;
        .icon-close{
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 3rem;
            padding: 0.7rem 1rem;
            box-sizing: border-box;
            border: 0.1rem solid #fff;
            border-radius: 50%;
            line-height: 1;
            cursor: pointer;
            &:hover{
                background-color: #ececec;
                border-color: #ececec;
            }
        }
        
    }
}
:global(.slick-slider){
    ul{
        bottom: -13rem;
        li{
            min-width: 10rem;
            height: fit-content;
            padding:0.5rem;
        }
    }
}
:global(.slick-active){
    border: 0.1rem solid #ececec !important;
    border-radius: 1rem !important;
    box-sizing: border-box;
}