.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2{
        margin-top: 2rem;
        font-size: 3.5rem;
        color: var(--text);
        font-weight: 700;
    }
    .rating{
        width: 6rem;
        height: 1.2rem;
        background: url('~/public/images/other/rating-star.png');
        background-position: 0 -1.2rem;
        .star{
            width: 70%;
            height: 1.2rem;
            background: url('~/public/images/other/rating-star.png');
        }
    }
    .form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
        textarea{
            font-size: 1.7rem;
            padding: 2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            border-radius: 1rem;
            border: 0.1rem solid #ececec;
            &:focus-visible{
                border-color: var(--primary) !important;
                border: 0.1rem solid var(--primary);
                outline: none;
            }
        }
        .input{
            display: flex;
            gap: 3rem;
            input{

            }
        }
        input{
            width: 100%;
            border: 0.1rem solid #ececec;
            border-radius: 1rem;
            padding: 2rem;
            width:100%;
            font-size: 1.7rem;
            &:focus{
                border-color:  var(--primary);
            }
        }
        button{
            width: fit-content;
            padding: 2rem;
            border-radius: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: var(--primary);
            color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #31a66f;
            }
        }
    }
}
@media (width < 992px) and (width >=768px){
    .container{
        width: 100%;
    }
}
@media (width < 768px){
    .container{
        width: 100%;
        h2{
            font-size: 3rem;
        }
        form{
            .input{
                flex-direction: column;
            }
        }
    }
}