@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700&display=swap');

:root {
    --btn-color: #E11D48;
    --bgColorCart: #111827;
    --bgColorCartHover:#220c0f;
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;

}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: inherit;
    text-rendering: optimizeSpeed;
}
a{
    text-decoration: none;
    color: black;
}
a.active{
    color:#fe2c55;
}
input,button{
    border: none;
    outline: none;
}
.slick-prev {
    display: none !important;

  }

  .slick-next {
    display: none !important;
  }