.container{
    padding: 5rem 1rem;
    .main{
        display: flex;
        gap: 5rem;
        .left{
            width: 75%;
            .header{
                display: flex;
                justify-content: space-between;
                margin-bottom: 4rem;
                width: 100%;
                .h-left{
                    display: flex;
                    gap: 2rem;
                    .image{
                        max-width: 3.6rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .text{
                        font-weight: 700;
                        color: var(--text);
                        font-size: 3.5rem;
                    }
                }
                .h-right{
                    display: flex;
                    gap: 2rem;
                    color: #7e7e7e;
                    font-weight: 500;
                    line-height: 1.2;
                    .show{
                        display: flex;
                        gap: 1.5rem;
                        padding: 1rem;
                        border: 0.1rem solid #ececec;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        &:hover{
                            box-shadow: 5px 5px 15px rgba(0,0,0,.05)   ;
                        }
                        .content{
                            display: flex;
                            gap: 1rem;
                        }
                        select{
                            border: none;
                            cursor: pointer;
                            font-size: 1.7rem;
                            color: #7e7e7e;
                        }
                    }
                }
        
            }
            .footer{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 5rem;
            }
            .navigation{
                margin-top: 5rem;
                ul{
                    display: flex;
                    gap: 1.5rem;
                    li{
                        padding: 1rem;
                        min-width: 4rem;
                        line-height: 1;
                        border: 0.1rem solid #f2f3f4;
                        list-style: none;
                        background-color: #f2f3f4;
                        border-radius: 50%;
                        text-align: center;
                        font-weight: 600;
                        color: #7e7e7e;
                    }
                    li.active{
                        background-color: var(--primary);
                        border: 0.1rem solid var(--primary);
                        color: #fff;
                    }
                }
            }
        }
        .right{
            width: 25%;
        }
    }
   
}
@media (width < 992px) and (width > 768px){
    .container{
        .main{
            // display: block;
            .left{
                width: 70%;
                .header{
                    display: block;
                    .h-right{
                        margin-top: 3rem;
                    }
                }
                .footer{
                    grid-template-columns: repeat(2,1fr);

                }
            }
            .right{
                width: 30%;
                margin-top: 5rem;
            }
        }
    }
}
@media (width <= 768px) and (width > 576px){
    .container{
        .main{
            display: block;
            .left{
                width: 100%;
                .header{
                    display: block;
                    .h-right{
                        margin-top: 3rem;
                    }
                }
                .footer{
                    grid-template-columns: repeat(2,1fr);

                }
            }
            .right{
                width: 100%;
                margin-top: 5rem;
            }
        }
    }
}
@media(width <= 576px){
    .container{
        .main{
            display: block;
            .left{
                width: 100%;
                .header{
                    display: block;
                    .h-right{
                        margin-top: 3rem;
                    }
                }
                .footer{
                    grid-template-columns: repeat(1,1fr);

                }
            }
            .right{
                width: 100%;
                margin-top: 5rem;
            }
        }
    }
}