.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    h1{
        font-size: 3.5rem;
        color: var(--text);
        font-weight: 700;
    }
    .main{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .header{
            display: flex;
            justify-content: space-between;
            
            .btn-add{
                width: fit-content;
            }
        }
        table{
            width: 100%;
            thead{
                tr,td{
                    background-color: var(--primary);
                    color: #fff;
                    font-weight: 700;
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
            td:has(.action){
                width: 10rem;
            }
          
            td{
                .field{
                    display: flex;
                    overflow-y: auto;
                    gap: 0.5rem;
                    .item{
                        padding: 0.5rem;
                        border: 0.1rem solid #ececec;
                        background-color: var(--primary);
                        color: #fff;
                        font-weight: 600;
                        border-radius: 0.5rem;
                    }
                }
                img{
                    max-width: 5rem;

                }
                .action{
                    display: flex;
                    gap: 0.5rem;
                    justify-content: center;
                    .btn{
                        cursor: pointer;
                        padding: 0.5rem;
                        border: 0.1rem solid #ececec;
                        color: #fff;
                        font-weight: 600;
                        border-radius: 0.5rem;
                        font-size: 1.3rem;
                    }
                    .view{
                        background-color: var(--primary);
                    }
                    .delete{
                        background-color: red;
                    }
                }
            }
            tr,td{
                padding: 1rem;
                border: 0.1rem solid #ececec;
                font-weight: 500;
                color: var(--text);
                font-size: 1.4rem;
                text-align: center;
            }
            td.stt{
                width: 4rem;
            }
        }
        .navigation{
            margin-bottom: 5rem;
            button{
                padding: 1rem;
                min-width: 4rem;
                line-height: 1;
                border: 0.1rem solid #f2f3f4;
                text-align: center;
                font-weight: 600;
                color: #7e7e7e;
                cursor: pointer;
                margin-right: 1rem;
                border-radius: 0.5rem;
                &:hover{
                    color: var(--primary);
                }
            }
        }   
    }
}
@media (width <576px){
    .container{
        .customer{
            .list{
                table{
                    thead{
                        tr,td{
                            font-size: 1.4rem;
                        }
                    }
                    tr,td{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}