.container{
    background-color: var(--bgRound);
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    .top{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        .brand{
            img{
                max-width: 90%;
            }
    
        }
        .links{
            display: flex;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                li{
                    padding: 1rem;
                    width: 100%;
                    &:hover{
                        border-radius: 1rem;
                        border: 0.1rem solid var(--primary);
                        a{
                            color:var(--primary);
                        }
                    }
                    a{
                        box-sizing: border-box;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        svg{
                            font-size: 2.5rem;
                            transition: 0.5s;
                        }
                        .border{
                            font-size: 1.6rem;
                            font-weight: 700;

                        }
                    }
                    
                }
            }
        }
    }
    .logout{
        padding: 2rem 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        a{
            display: flex;
            gap: 1rem;
            align-items: center;
            font-weight: 700;
            color: var(--primary);
            width: 100%;
            padding: 1rem;
            &:hover{
                border-radius: 1rem;
                border: 0.1rem solid var(--primary);
                color:var(--primary);
                        
            }
            svg{
                font-size: 2rem;
            }
            span{
                
            }
        }
    }
}
:global(.active){
    color:var(--primary) !important;
    svg{
        transform: scale(1.4);
    }
}

