.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    cursor: crosshair;
 
    .main-modal{
        max-height: 100vh;
        background-color: #fff;
        width:50%;
        overflow-y: scroll;
        cursor: initial;
        padding: 1rem 2.5rem;   
        transition: 0.5s;
        animation: up ease 0.5s;
        .header{
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            position: relative;
            border-bottom: 0.1rem solid #ececec;
            .left{
                cursor: pointer;
                width: 14rem;
                img{
                    width: 100%;
                }
            }
            .right{
                position: absolute;
                top: 2rem;
                right: 2rem;
                padding: 0.5rem 0.6rem;
                line-height: 1.2rem;
                border-radius: 50%;
                background-color: #def9ec;
                font-size: 1.5rem;
                align-items: center;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    transform: rotate(1turn);
                }
            }
        }
        .search{
            padding: 1rem;
            position: relative;
            input{
                padding: 1rem 15rem 1rem 2rem;
                background-color: #f2f3f4;
                font-size: 1.4rem;
                height: 4.5rem;
                border-radius: 0.5rem;
                width: 100%;
            }
            .icon{
                position: absolute;
                top: 1.1rem;
                right: 1.1rem;
                padding: 1.2rem;
                border-radius: 0.5rem;
                background-color: transparent;
                cursor: pointer;
               
                &:hover{
                    background-color: #29a56c;
                   
                    
                }
            }
        }
        .list{
            padding: 2rem 1rem;
            .title{
                display: flex;
                gap: 1rem;
                align-items: center;
                
                cursor: pointer;
                .icon{
                    font-size: 2.3rem;                    
                }
                .text{
                    font-weight: 700;
                    font-size: 1.7rem;
                    color: var(--primary);
                    &:hover{
                        color: #fdc040;
                    }
                }
            }
            .main-list{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-top: 1rem;
                // padding: 0.5rem 0rem;
                .menu{
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 1.3rem 0;
                    border-bottom:0.1rem solid #ececec;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    position: relative;
                    &:hover{
                        color: var(--primary);
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        margin-top: 1.5rem;
                        gap: 1.5rem;
                        li{
                            list-style: none;
                            margin-left: 2rem;
                        }
                    }
                    a{
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 1;
                        color: var(--text);
                        margin-left: 1rem;
                        &:hover {
                            color: var(--primary);
                        }
                    }
                    span{
                        position: absolute;
                        right: 0;
                        top: 1rem;
                        width: 3rem;
                        height: 3rem;
                        padding: 0.7rem;
                        font-size: 1.7rem;
                        border-radius: 50%;
                        &:hover{
                            background-color: #ececec;
                        }
                    }
                    
                }
            }
        }
        .info{
            padding: 1rem 1rem;
            ul{
                padding: 5rem 4rem;
                border: 0.2rem solid #ececec;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-radius: 1rem;
                li{
                    font-weight: 500;
                    color: var(--text);
                    font-size: 1.4rem;
                    list-style: none;
                }
            }
        }   
        .follow{
            margin-top: 2rem;
            margin-bottom: 8rem;
            .title{
                font-size: 2rem;
                color: #adadad;
                font-weight: 700;
                line-height: 1.2rem;

            }
            .icon{
                margin-top: 1rem;
                display: flex;
                gap: 1rem;
                
                .item{
                    padding: 1rem;
                    line-height: 1rem;
                    border-radius: 50%;
                    font-size: 1.4rem;
                    background-color: var(--primary);
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        transform: translateY(-0.5rem);
                    }
                }
            }
        }

    }
  
}
.open{
    display: block;
}
@media (width <576px){
    .modal{
        .main-modal{
            width: 70%;
        }
    }
}
@keyframes up{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}