.container{
    margin-top: 5rem;
    width: 100%;
    .data{
        background: url('~/public//about-background.png') no-repeat 50%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        padding: 10rem;
        justify-content: center;
        position: relative;
        border-radius: 2rem;
        text-align: center;
        align-items: center;
        &:after{
            border-radius: 2rem;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #4b675a;
            z-index: 2;
            opacity: 0.8;
        }
        .item{
            color: #ffffff;
            position: relative;
            z-index: 3;
            h2{
                font-size: 7.2rem;
            }
            p{
                font-size: 2.4rem;
                font-weight: 700;
            }
        }
    }
}
@media (width < 992px) and (width >= 768px){
    .container{
        .data{
            grid-template-columns: repeat(2,1fr);
            gap: 10rem;
        }
    }
}
@media (width < 768px){
    .container{
        .data{
            grid-template-columns: repeat(1,1fr);
            gap: 10rem;
        }
    }
}