.container{
    padding: 5rem 20rem;
    display: flex;
    gap: 4rem;
    .left{
        width: 40%;
        img{
            max-width: 100%;
            border-radius: 2rem;
        }
    }
    .right{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3{
            font-weight: 700;
            color: var(--text);
            font-size: 3.5rem;
        }
        p{
            font-weight: 500;
            font-size: 1.6rem;
            color: #7e7e7e;
            a{
                color: var(--primary);
            }
        }
        form{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2rem;
            input{
                width: 100%;
                padding: 2rem;
                font-size: 1.7rem;
                border: 0.1rem solid #ececec;
                border-radius: 1rem;
            }
            .secure{
                display: flex;
                justify-content: space-between;
                input{
                    width: 50%;
                }
                .code{
                    width: 25%;
                    border: 0.1rem solid #ececec;
                    border-radius: 1rem;
                    padding: 2rem;
                    display: flex;
                    gap: 0.5rem;
                    justify-content: center;
                    background: #bce3c9;

                    span{
                        font-size: 2.4rem;
                        font-weight: 700;
                        &:nth-child(1){
                            color: #55bb90;
                        }
                        &:nth-child(2){
                            color: #f74b81;
                        }
                        &:nth-child(3){
                            color: #67bcee;
                        }
                        &:nth-child(4){
                            color: #f59758;
                        }
                    }
                }
            }
            .action{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .left{
                    display: flex;
                    gap: 1rem;
                    input{
                        display: none;
                        // opacity: 0;
                    }
                    label{
                        font-weight: 500;
                        font-size: 1.6rem;
                        color: #7e7e7e;
                        cursor: pointer;
                        padding-left: 2rem;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            height: 1.5rem;
                            width: 1.5rem;
                            border-radius: 0.3rem;
                            border: 0.1rem solid #adadad;
                            top: 0;
                            left: 0;
                        }
                        &:after{
                            content: "";
                            width: 1.1rem;
                            position: absolute;
                            opacity: 0;
                            top: 0.7rem;
                            left: 0.25rem;
                            height: 6px;
                            border-left: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            transform: translateY(-65%) rotate(-45deg);
                        }

                    }
                    label.active{
                        &::before{
                            background-color: var(--primary);
                        }
                        &::after{
                            opacity: 1;
                        }
                    }
                }
                .right{
                    align-items: flex-end;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: #7e7e7e;
                    cursor: pointer;
                }
            }
            .btn{
                width: 100%;
                button{
                    width: 25%;
                    padding: 2rem;
                    border-radius: 1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    background-color: var(--text);
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        background-color: var(--primary);
                    }
                }
            }
        }
    }
}
@media (width < 992px) and (width > 768px){
    .container{
        padding: 8rem 5rem;
    }
}
@media (width <= 768px){
    .container{
        padding: 8rem 5rem;
        .left{
            display: none;
        }
        .right{
            width: 100%;
        }
    }
    @media (width <= 576px){
        .container{
            .right{
                form{
                    .action{
                        .left{
                            width: 50%;
                        }
                        .right{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}