.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    h1{
        font-size: 3.5rem;
        color: var(--text);

    }
    .info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        .input{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            label{
                color: #7e7e7e;
                font-weight: 600;
                font-size: 1.4rem;
            }
            input{
                padding: 1rem 1.5rem;
                border: 0.1rem solid #ececec;
                border-radius: 0.5rem;

            }
        }
        .btn{
            display: flex;
            gap: 2rem;
            .item{
                .del{
                    padding: 1rem;
                    border: 0.1rem solid #ececec;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background-color: #d63031;
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }
}