.container{
    margin-top: 5rem;
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        h3{
            color: var(--text);
            font-size: 3.2rem;
            font-weight: 700;
        }
        ul{
            display: flex;
            gap: 1.3rem;
            li{
                list-style: none;
                color: var(--text);
                font-size: 1.6rem;
                font-weight: 700;
                list-style: none;
                cursor: pointer;
                padding: 1rem;
                transition: 0.5s;
                &:hover{
                    color: var(--primary);
                    transform: translateY(-1rem);
                }
            }
            li.active{
                color: var(--primary);
            }
        }
    }
    .product{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2.5rem;
    }
}
@media(width < 992px) and (width > 768px){
    .container{
        .header{
            h2{
                font-size: 3rem;

            }
            ul{
                gap: 1rem;
            }
        }
        .product{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }   
}
@media (width <= 768px) and (width > 576px){
    .container{
        .header{
            display: block;
            h2{
                font-size: 3rem;

            }
            ul{
                gap: 1rem;
                margin-top: 1rem;
            }
        }
        .product{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }  
}
@media(width <= 576px){
    .container{
        .header{
            display: block;
            h2{
                font-size: 3rem;

            }
            ul{
                margin-top: 1rem;
                gap: 1rem;
            }
        }
        .product{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    }  
}