.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h1{
        font-size: 4rem;
        color: var(--text);
        font-weight: 700;
    }
    .customer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .header{
            position: relative;
            width: fit-content;
            input{
                padding: 1.2rem;
                border-radius: 0.5rem;
                border: 0.1rem solid #7e7e7e;
                &:focus{
                    border-color: var(--primary);
                }
            }
            .icon{
                position: absolute;
                right: 1rem;
                top: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        .list{
            overflow-x: auto;
            table{
                width: 100%;
                thead{
                    tr,td{
                        background-color: var(--primary);
                        color: #fff;
                        font-weight: 700;
                        text-align: center;
                        font-size: 1.6rem;
                    }
                }
                tr,td{
                    padding: 1rem;
                    border: 0.1rem solid #ececec;
                    font-weight: 500;
                    color: var(--text);
                    font-size: 1.4rem;
                    text-align: center;
                }
                td.action{
                    display: flex;
                    gap: 0.5rem;
                    .btn{
                        cursor: pointer;
                        padding: 0.5rem;
                        border: 0.1rem solid #ececec;
                        color: #fff;
                        font-weight: 600;
                        border-radius: 0.5rem;
                        font-size: 1.3rem;
                    }
                    .view{
                        background-color: var(--primary);
                    }
                    .del{
                        background-color: red;
                    }
                }
            }
        }
        .navigation{
            margin-bottom: 5rem;
            ul{
                display: flex;
                gap: 1.5rem;
                li{
                    padding: 1rem;
                    min-width: 4rem;
                    line-height: 1;
                    border: 0.1rem solid #f2f3f4;
                    list-style: none;
                    background-color: #f2f3f4;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: 600;
                    color: #7e7e7e;
                    cursor: pointer;
                }
                li.active{
                    background-color: var(--primary);
                    border: 0.1rem solid var(--primary);
                    color: #fff;
                }
            }
        }   
    }
}
@media (width <576px){
    .container{
        .product{
            .list{
                table{
                    thead{
                        tr,td{
                            font-size: 1.4rem;
                        }
                    }
                    tr,td{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}