a.container{
    width: 18rem;
    border-radius: 1rem;
    height: 22rem;
    background-color:  rgb(245 245 245/1);
    position: relative;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    .name{
        padding: 1.6rem;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .image{
        position: absolute;
        bottom: 0;
        img{
            transition: 0.5s;
            transform: scale(0.8);
        }
    }
    .shop{
        position: absolute;
        bottom: 2rem;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(200%);
        .btn{
            .text{
                padding: 0 0.5rem;
            }
            .icon{
                padding:  0;
                justify-content: center;
            }
        }
    }
    &:hover{
        background-color: #edd0d5;
        .shop{
            opacity: 1;
            transform: translateY(0%);
        }
        .image{
            img{

                transform: scale(0.9);
            }
        }
        .name{
            color: var(--primary);
        }
    }
}
