.container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    .main{
        display: flex;
        gap: 3rem;
        border: 0.1rem solid #ececec;
        padding: 2rem;
        border-radius: 2rem;
        &:hover{
            .right{
                .action{
                    opacity: 1;
                    visibility: visible
                    ;
                }
            }
        }
        .left{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            cursor: pointer;
            width: 10%;
            .image{
                img{
                    max-width: 8rem;
                    min-height: 8rem;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .name{
                font-size: 1.7rem;
                font-weight: 700;
                color: var(--primary);
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 90%;
            .header{
                color: #7e7e7e;
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;
                .time{

                }
                .rating{
                    width: 6rem;
                    height: 1.2rem;
                    background: url('~/public/rating-star.png');
                    background-position: 0 -1.2rem;
                    .star{
                        background: url('~/public/rating-star.png');
                        height: 1.2rem;
                    }
                }
            }
            .content{
                font-weight: 500;
                color: var(--text);
                line-height: 1.2;
                font-size: 1.5rem;
            }
            .action{
                display: flex;
                justify-content: space-between;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
                .reply{
                    font-size: 1.5rem;
                    color: var(--primary);
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }
    .reply-comment{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 2rem;
        transition: 0.5s;
        .image{
            img{
                max-width: 8rem;
                border-radius: 50%;

            }
        }
        .input{
           position: relative;
           
           width: 100%;
           input{
               width: 100%;
                border: 0.1rem solid #ececec;
                padding: 1.5rem;
                border-radius: 1rem;
            }
            .icon{
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                font-size: 2rem;
                color: var(--primary);
                z-index: 10;
            }
        }
    }
}
@media (width < 768px){
    .container{
        .main{
            gap: 1rem;
            .left{
                width: 20%;
                .image{
                    img{
                        min-width: 5rem;
                        min-height: 5rem;
                    }
                }
                .name{
                    font-size: 1.5rem;
                }
            }
            .right{
                width: 80%;
                .header{
                    font-size: 1.2rem;
                    display: block;
                    .rating{
                        margin-top: 1rem;
                    }
                }
                .content{
                    font-size: 1.4rem;
                }
                .action{
                    .emote{
                        display: none;
                    }
                }
                
            }
        }
        .reply-comment{
            .image{
                img{
                    max-width: 4rem;
                }
            }
        }
    }
}