.container{
    padding: 1rem;
    margin: 5rem 0;
    display: flex;
    gap: 3rem;
    .side-bar{
        width: 18%;
    }
    .main{
        width: 82%;
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            .left{
                font-size: 1.6rem;
                color: #7e7e7e;
                font-weight: 500;
                line-height: 1.2;
                strong{
                    color: var(--primary);
                }
            }   
            .right{
                display: flex;
                gap: 2rem;
                color: #7e7e7e;
                font-weight: 500;
                line-height: 1.2;
                .show{
                    display: flex;
                    gap: 1.5rem;
                    padding: 1rem;
                    border: 0.1rem solid #ececec;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 5px 5px 15px rgba(0,0,0,.05)   ;
                    }
                    .content{
                        display: flex;
                        gap: 1rem;
                    }
                    select{
                        border: none;
                        cursor: pointer;
                        font-size: 1.7rem;
                        color: #7e7e7e;
                    }
                }
            }
        }
        .product{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;

        }
        .navigation{
            margin-top: 5rem;
            button{
                padding: 1rem;
                min-width: 4rem;
                line-height: 1;
                border: 0.1rem solid #f2f3f4;
                text-align: center;
                font-weight: 600;
                color: #7e7e7e;
                cursor: pointer;
                margin-right: 1rem;
                border-radius: 0.5rem;
                &:hover{
                    color: var(--primary);
                }
            }
        }   
    }
}

@media (width < 992px) and (width > 768px){
    .container{
        display: block;
        padding: 7rem;
        margin: auto;
        .side-bar{
            width: 100%;
            .cate{
                ul{
                    li{
                        .title{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            .banner{
                .content{
                    padding: 10rem;
                    .author{
                        font-size: 4rem;
                    }
                    h4.text{
                        margin-top: 4rem;
                        font-size: 6.5rem;
                    }
    
                }
            }
        }
        .main{
            width: 100%;
            .header{
                .right{
                    gap: 1.5rem;
                    .show{
                        gap: 1rem;
                        padding: 0.7rem;
                        .content{
                            gap: 0.5rem;
                        }
                        select{
                            border: none;
                            cursor: pointer;
                            font-size: 1.7rem;
                            color: #7e7e7e;
                        }
                    }
                }
            }
            .product{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}
@media (width <= 768px) and (width > 576px){
    .container{
        display: block;
        padding: 4rem;
        margin: auto;
        .side-bar{
            width: 100%;
            .cate{
                ul{
                    li{
                        .title{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            .banner{
                margin-bottom: 4rem;
                .content{
                    padding: 10rem;
                    .author{
                        font-size: 4rem;
                    }
                    h4.text{
                        margin-top: 4rem;
                        font-size: 5rem;
                    }
    
                }
            }
        }
        .main{
            width: 100%;
            .header{
                .right{
                    gap: 1rem;
                    .show{
                        gap: 0.5rem;
                        padding: 0.7rem 0.3rem;
                        .content{
                            gap: 0.3rem;
                        }
                        select{
                            border: none;
                            cursor: pointer;
                            font-size: 1.7rem;
                            color: #7e7e7e;
                        }
                    }
                }
            }
            .product{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
@media (width <= 576px){
    .container{
        display: block;
        padding: 1rem;
        margin: auto;
        .side-bar{
            width: 100%;
            .cate{
                ul{
                    li{
                        .title{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            .banner{
                margin-bottom: 4rem;
                .content{
                    padding: 6rem;
                    .author{
                        font-size: 3rem;
                    }
                    h4.text{
                        margin-top: 4rem;
                        font-size: 4rem;
                    }
    
                }
            }
        }
        .main{
            width: 100%;
            .header{
                .right{
                    display: block;
                    .show{
                        margin-top: 1rem;
                        padding: 0.7rem 0.3rem;
                        .content{
                            gap: 0.3rem;
                        }
                        select{
                            border: none;
                            cursor: pointer;
                            font-size: 1.7rem;
                            color: #7e7e7e;
                        }
                    }
                }
            }
            .product{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}