.container{
    padding: 3rem 10rem;
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(22, 24, 35, 0.06);
        h2{
            padding: 1rem 0;
            font-size: 3rem;
        }
        span{
            cursor: pointer;
        }
    }
    .cate{
        padding: 1rem;
        width: 135rem;
        overflow-x: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@media (width <=1100px) and (width >768px){
   .container{
       .title{
        h2{
            font-size: 2.5rem;
        }
       }
        .cate{
            padding: 1rem 0rem;
       
        }
    }
}
@media(width <768px){
    .container{

        padding: 3rem 5rem;
        .title{
            h2{
                font-size: 2.2rem;
            }
        }
        .cate{
            padding: 1rem 0rem;
        }
    }
}