.container{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.1rem solid #ececec;
    border-radius: 1rem;
    .shop{
        display: flex;
        justify-content: space-between;
        
        .name-shop{
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--text);
        }
        a{
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--primary);
        }
    }
    .product{
        display: flex;
        gap: 5rem;
        width: 100%;
        .left{
            max-width: 20%;
            img{
                max-width: 100%;
            }
        }
        .right{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            .name{
                font-weight: 700;
                font-size: 1.7rem;
                color: var(--text);
            }
            .type{
                color: #7e7e7e;
                font-weight: 500;
                font-size: 1.5rem;
            }
            .price-quantity{
                display: flex;
                justify-content: space-between;
                color: var(--primary);
                font-weight: 600;
                font-size: 1.6rem;
            }
        }
    }
    .voucher{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: 0.1rem solid #ececec;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        color: #7e7e7e;
        font-weight: 500;
        cursor: pointer;
        .left{
            display: flex;
            gap: 1rem;
            .icon{
                color: var(--primary);
            }
            .text{
                
            }
        }
        .right{
            display: flex;
            gap: 1rem;
            .text{

            }
            .icon{

            }
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: var(--primary);
        font-size: 1.6rem;

        .text{

        }
        .price{
            
        }
    }
}
@media (width <= 576px){
    .container{
        padding: 2rem;
        .product{
            .left{
                width: 30%;
            }
        }
    }
}