.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    .logo{
        img{
            max-width: 90%;
        }
    }
    .icon{
        font-size: 3.5rem;
        cursor: pointer;
    }
}