.container{

    color: black;
    width: 100%;
    .details{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        .text{
            display: flex;
            gap: 1rem;
        
        }
    }
    button{
        border-radius: 0.4rem;
        padding: 0.4rem 1rem;
        border: none;
        cursor: pointer;
        background-color:#eef4ff;
        color: black;
        svg{
            font-size: 0.6rem;
        }
    }
    .graph{
        height: 10rem;
        width: 100%;
        
    }
    
}
// ::global('.recharts-default-tooltip'){
//     background-color: black !important;
//     border-color: black !important;
//     color: white !important;
// }