.container{
    padding: 3rem;
    .header-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0 2rem;
        align-items: center;
        h2{
            font-size: 3rem;
            color: var(--text);
            font-weight: 700;
        }
        p{
            color: #7e7e7e;
            font-weight: 500;
            font-size: 1.5rem;
        }

    }
    .main{
        margin: auto;
        width: 100%;
        padding: 4rem;
        border: 0.1rem solid #ececec;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 1.5rem rgba(0,0,0,.05)   ;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .address{
            select{
                color: var(--primary);
                background-color: var(--bgRound);
                width: 100%;
                padding: 1rem;
                border-radius: 0.5rem;
                border: 0.1rem solid var(--bgRound);
                font-weight: 500;
                font-size: 1.4rem;
            }
            
        }
        .shop-product{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .footer{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .item{
                display: flex;
                justify-content: space-between;
                padding: 1rem 1rem;
                cursor: pointer;
                border: 0.1rem solid #ececec;
                border-radius: 0.5rem;
                color: #7e7e7e;
                font-size: 1.5rem;
                font-weight: 500;
                &:hover{
                    background-color: #ececec;
                }
                .left{
                    display: flex;
                    gap: 1rem;
                    .icon{
                        color: var(--primary);
                        font-size: 1.8rem;
                    }
                    
                }
                .right{
                    display: flex;
                    gap: 1rem;
                    color: #7e7e7e;
                    font-size: 1.5rem;
                    font-weight: 500;

                }
            }
            
        }
        .detail-checkout{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .header{
                display: flex;
                align-items: center;
                .icon{
                    color: var(--primary);
                    font-size: 2rem;
                }
                .text{
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: #7e7e7e;
                    font-weight: 700;
                    margin-left: 2rem;
                }
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .item{
                    display: flex;
                    justify-content: space-between;
                    color: #7e7e7e;
                    font-size: 1.5rem;
                    font-weight: 500;
                    .left{
                        
                    }
                    .right{
                        color: #000;
                    }
                }
                .total{
                    padding: 1rem 0;
                    border-top: 0.1rem solid #ececec;
                    display: flex;
                    justify-content: space-between;
                    .left,
                    .right{
                        font-weight: 700;
                        color: var(--primary);
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}
@media (width < 992px) and (width >= 768px){
    .container{
        padding: 5rem 1rem;
        .main{
            width: 80%;
        }
    }
}
@media (width < 768px){
    .container{
        padding: 5rem 1rem;
        .main{
            width: 90%;
            padding: 2rem;
        }
    }
}
@media (width <= 576px){
    .container{
        padding: 5rem 1rem;
        .main{
            padding: 1rem;
            width: 100%;
        }
    }
}