.container{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 0.2rem solid #ececec;

    .left{
        
        ul{
            display: flex;
            // gap: 1rem;  

            li{
                list-style: none;
                padding: 0rem 1rem;
                position: relative;
                a{
                    color: #7e7e7e;
                    font-weight: 500;
                    font-size: 1.3rem;
                }
                &::before{
                    content: '';
                    position: absolute;
                    height: 1.5rem;
                    width: 0.1rem;
                    top: 0.1rem;
                    right: 0rem;
                    background-color: #dedfe2;;
                }
                
            }
        }
    }

    .mid{
        font-size: 1.4rem;
        font-weight: 600;
        color: #7e7e7e;
        a{
            color: var(--primary);
        }
    }

    .right{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0rem 0.7rem;
                span{
                    color: #7e7e7e;
                    font-weight: 500;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
                .phone{
                    color: var(--primary);
                    font-weight: 600;
                }
            }
        }
    }
}
.top{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem;
    margin-bottom: 5rem;
    .text{
        width: fit-content;
        margin: auto;
        font-size: 1.4rem;
        color: #ffffff;

    }
}