.container{
    h3{
        font-size: 700px;
        font-size: 3.5rem;
        color: var(--text);
        margin-bottom: 4rem;
    }
    table{
        width: 100%;
        th,tr{
            border: 0.1rem solid #ececec;
            padding: 1rem;
        }
        thead{
            margin-bottom: 2rem;
            background-color: var(--primary);
            color: #fff;

        }
        tbody{
            a{
                color: var(--primary);
            }
        }
    }
    .footer{
        margin-top: 3rem;
        p{
            font-size: 1.4rem;
            color: #7e7e7e;
            font-weight: 500;
        }
    }
}